:root {
  --primary-color: #f4d19b;
  --secondary-color: #f9f3df;
  --headings-color: #8bc9f8;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  display: block;
  background-color: var(--secondary-color);
}
h1,
h2,
h3 {
  margin: 0;
  color: var(--headings-color);
  text-align: center;
}
h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
p {
  margin: 30px;
  color: #405e75;
}
img {
  padding-top: 30px;
  padding-bottom: 30px;
}
footer {
  font-size: 10px;

  color: var(--primary-color);
  padding-left: 5px;
  padding-bottom: 10px;
}
.footer {
  text-decoration: none;
  color: var(--primary-color);
}
.footer:hover {
  color: var(--primary-color);
}
.bg-fill {
  background: linear-gradient(
    90deg,
    rgb(173, 214, 241) 0%,
    rgb(249, 243, 223) 100%
  );
}
.bg-fill-2 {
  background: linear-gradient(
    270deg,
    rgb(173, 214, 241) 0%,
    rgb(249, 243, 223) 100%
  );
}
.row {
  display: flex;
}
.nav-link,
.navbar-brand {
  color: #405e75 !important;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  transition: 3ms;
  margin-left: 30px;
}
.primary-link:hover,
.about-link:hover,
.contact-link:hover {
  color: var(--headings-color);
}

.about-paragraphs {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);

  text-decoration: none;
}

.linkedin {
  display: flex;
  justify-content: center;
  color: #0e65c2;
  text-decoration: none;
}
.git {
  color: #212121;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.email-link:hover,
.linkedin:hover,
.git:hover {
  color: var(--headings-color);
}

#projects {
  padding: 25px;
}
#subtitle {
  opacity: 0.7;
}
#contact {
  margin-top: 30px;
}
#tool-title {
  color: #405e75;
  font-weight: 40;
  padding-top: 5px;
}
